*.iml
.kotlin
.gradle
**/build/
**/bin/
*/venv312/*
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
/remote
__pycache__
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
*.env
/bettermanhwa/src/main/resources/scripts/To Release
/bettermanhwa/src/main/resources/scripts/vapoursynth-portable
PluginDevelopment.md
/betterimg/src/main/resources/scripts/vapoursynth-portable
/betterimg/src/main/resources/scripts/__pycache__
/PSD_builder/dist
/ag-psd/
/.venv/Scripts
.agents
/dist/
temp_test.jar
test_sign.jar
